
@{
    ViewBag.Title = "EditeInstructorProfile";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    ViewBag.ActiveClass = "active";
}
<script src="~/content/ckeditor2.js"></script>
<div class="settings-widget profile-details">
    <div class="settings-menu p-0">
        <div class="profile-heading">
            <h3>Profile Details</h3>
            <p>You have full control to manage your own account setting.</p>
        </div>
        <div class="course-group mb-0 d-flex">
            <div class="course-group-img d-flex align-items-center">
                <a href="instructor-profile.html"><img src="~/content/images/InstructorProfile/@Model["profile_pic"]"  class="img-fluid"></a>
                <div class="course-name">
                    <h4><a href="instructor-profile.html">Your avatar</a></h4>
                    <p>PNG or JPG no bigger than 800px wide and tall.</p>
                </div>
            </div>
            <div class="profile-share d-flex align-items-center justify-content-center">
                <a href="javascript:;" class="btn btn-success">Update</a>
                <a href="javascript:;" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <div class="checkout-form personal-address add-course-info">
            <div class="personal-info-head">
                <h4>Personal Details</h4>
                <p>Edit your personal information and address.</p>
            </div>
            <form method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Full Name</label>
                            <input type="text" name="name" class="form-control" value="@Model["Name"]" placeholder="Enter your first Name">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Phone</label>
                            <input type="text" name="mobile" class="form-control" value="@Model["mobile_number"]" placeholder="Enter your Phone">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Email</label>
                            <input type="text" name="email" class="form-control" value="@Model["email"]" readonly placeholder="Enter your Email">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label w-100">Gender</label>
                            @if (Model["gender"] == "male")
            {

                            <input type="radio" name="gender" value="male" checked> <span>Male</span>
            }
else
            {
                            <input type="radio" name="gender" value="male"> <span>Male</span>

            }




                            @if (Model["gender"] == "female")
            {

                           <input type="radio" checked name="gender" value="female"> <span>Female</span>
            }
else
            {
                           <input type="radio" name="gender" value="female"> <span>Female</span>

            }
                            @if (Model["gender"] == "other")
            {

                           <input type="radio" checked name="gender" value="other"> <span>Other</span>
            }
else
            {
                           <input type="radio" name="gender" value="other"> <span>Other</span>

            }
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Profile Summary</label>
                            <input type="text" name="summary" value="@Model["summary"]" class="form-control" placeholder="Enter your last Name">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label">Tell Me About Yourself</label>
                            <textarea name="about_Int" id="Ckeditor2">@Model["About_Instructor"]</textarea>
                        </div>
                    </div>
                    <script>

    ClassicEditor.create(document.querySelector("#Ckeditor2"))
                    </script>
                    <div class="update-profile">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

